@media (max-width: 750px) {
    main{
        max-width: 80%;
        margin: 0 auto;
        padding: 0;
    }

    main .baner{
        font-size: 13px;
        padding: 20px;
        border-radius: 3px;
    }

    .container-header .img-perfil{
        width: 35%;
        margin-top: -30%;
    }

    .contenct_presntation h5{
        font-size: 22px;
    }

    .contenct_presntation p {
        font-size: 11px;
    }


    .contactar  button{
        font-size: 11px;
        width: 50%;
    }

    section{
        max-width: 97%;
        margin: 0 auto;
    }

    article .user{
        font-size: 12px;
    }

    article .text{
        max-width: 100%;
        margin: 15px auto;
    }

    article .text h4{
        font-size: 18px;
    }

    article .text p{
        font-size: 11px;
        padding: 0 15px;
    }

    article .img-article{
        max-width: 80%;
        margin: 0 auto;
    }

}