*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    background-image: url(/images/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


.nav_container{
    top: 0;
    background: rgba(128, 128, 128, 0.059);
    box-shadow: 0 1px 10px rgba(41, 40, 40, 0.195);
    width: 100%;
    height: 65px;
    display: flex;
    justify-content:space-between;
    padding: 0 10%;
    align-items: center;
    --icon-home-menu: url(/images/menu.svg);
    --transform-menu-show: translate(-100%);
}

.nav_container:has(.nav_input:checked){
    --icon-home-menu: url(/images/close.svg);
    --transform-menu-show: translate(0);
}

.nav_figure, .nav_home{
    z-index: 10;
}

.nav_figure a{
    font-size: 25px;
    color: #f3f3f3f3;
    text-decoration: none;
}

.nav_home{
    width: 30px;
    height: 30px;
    background-image: var(--icon-home-menu);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: background-img .5s;
}

.nav_input{
  display: none;
}

nav ul{
    transform: var(--transform-menu-show);
    position: fixed;
    inset: 0;
    display: grid;
    place-content: center;
    gap: 2rem;
    text-align: center;
    padding: 1.5rem 5%;
    background: rgba(22, 22, 22, 0.904);
    list-style: none;
    transition: .6s transform;
}

nav ul li{
    border: solid 1px #f3f3f38e;
    border-radius: 50px;
    padding: 15px;
    transition: .3s transform;
}

nav ul li:hover{
    transform: scale(1.1);
    background: #5e5d5d8a;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

/*SIZE MAIN*/
main{
    background: #5e5d5d27;
    max-width: 60%;
    margin:  5% auto;
    height: auto;
    padding: 20px;
    border-radius: 10px;
}


.header {
    max-width: 100%;
    margin: 0 auto;
    height: 300px;
    overflow: hidden;
}

.header img{
    width: 100%;
}

.img-perfil{
    width: 30%;
    margin-top: -20%;
    padding: 20px;
}

.img-perfil img{
    width: 100%;
    border-radius: 5% 50%;
}

.contenct_presntation{
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
    color: #f3f3f3f3;
}

.contenct_presntation h5{
    font-size: 30px;
    font-weight: 600;
    color: #f3f3f3f3;
}

.contenct_presntation p{
    font-size: 15px;
}

.contenct_presntation .icons-header{
    padding: 5px;
}

.contenct_presntation .icons-header small{
    padding: 7px;
    font-size: 15px;
}

.contenct_presntation .icons-header small i{
    font-size: 18px;
}

.contactar{
    padding: 20px;
    text-align: center;
}

.contactar button{
    background: #0000009c;
    width: 50%;
    height: 50px;
    border: solid 1px #f3f3f38e;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    transition:  transform .3s;
}

.contactar button:hover{
    transform: scale(1.1);
    background: #5e5d5d8a;
    
}

.contactar small{
    padding: 10px;
    font-size: 10px;
}

main .baner{
    font-size: 18px;
    background: #f3f3f339;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    color: #f3f3f3f3;
}

section {
    max-width: 90%;
    margin: 20px auto;
}

/*SECTION ABOUT*/
.container-about{
    padding: 1%;
}

.item-about{
    background: #bcbcbc11;
    margin-top: 5%;
    border: solid 1px #f3f3f32c;
    border-radius: 10px 60px ;
    padding: 6%;
    line-height: 2;
}

.item-about h5{
    font-size: 25px;
    color: #f3f3f3f3;
}

.item-about .contenct-about{
    color: #d8d6d6;
}

.item-about .btn-about{
    margin-top: 5%;
}

.item-about .btn-about a{
    background: #0000009c;
    border: solid 1px #f3f3f32c;
    border-radius: 15px;
    padding: 3%;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}

@media (max-width: 750px) {
    .item-about{
        padding: 10%;
    }

    .item-about h5{
        font-size: 23px;
    }

    .item-about .contenct-about{
        font-size: 14px;
    }
}

/*SECTION ABOUT ICON*/
.gallery-icons{
    max-width: 100%;
    margin: 0 auto;
    height: 200px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.slider-icons{
    position: relative;
    width: 45px;
    height: 45px;
    transform-style: preserve-3d;
    animation:  rotate 45s linear infinite;
}

@keyframes rotate {
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.slider-icons span{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*35deg)) translateZ(250px);
}

.slider-icons span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;    
}

.slider-icons span:hover img{
    transform: translateY(-10px) scale(1.1);
}



/*SECTION SERVICES*/
article{
    color: #f3f3f3f3;
    margin-bottom: 2%;
    padding: 20px;
    border: solid 1px #f3f3f32c;
    border-radius: 20px;
}

article small {
    color: rgb(119, 119, 119);
}

article .user{
    display: flex;
    align-items: center;
    padding: 10px;
}

article .user i{
    padding: 10px 15px;
    border: solid 1px #f3f3f38e;
    border-radius: 50%;
    background-color: rgba(80, 79, 79, 0.527);
}

article .user p{
    padding: 10px;
    font-weight: 600;
}

article h4{
    font-size: 25px;
}

article .text{
    max-width: 90%;
    margin: 15px auto;
}

article .text p {
    font-size: 12px;
    line-height: 2.4;
    padding: 0 30px;
}

article .img-article{
    max-width: 70%;
    margin: 0 auto;
    padding: 3%;
    position: relative;
    outline: none;
}

article .img-article img{
    width: 100%;
    border-radius: 20px;
}

article:hover{
    background: #5e5d5d8a;
    border-radius: 20px;
}

footer{
    color: #fff;
    font-size: 13px;
    text-align: center;
    padding: 10px;
}

footer .icons a{
    padding: 5px;
}


/*SECTIONCERTIFICATES*/
.gallery{
    max-width: 95%;
    margin: 25px auto;
    padding: 4%;
    display: grid;
    gap: 5%;
}

.item-gallery{
    border-radius: 20px;
    padding: 5%;
    position: relative;
    cursor: pointer;
    outline: none;
    max-width: 400px;
}

.item-gallery img{
    height: auto;
    width: 100%;
    max-width: 300px;
    min-height: auto;
    display: block;
    margin: auto;
}

.item-gallery .title{
    font-size: 20px;
    padding: 20px;
}

.item-gallery p{
    font-size: 18px;
}

/*responsive item-gallery*/
@media (min-width: 992px) {
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 991px) {
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 499px) {
    .gallery{
        grid-template-columns: 1fr;
        gap: 1%;
    }
}